sqlalchemy
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
fastapi
uvicorn
pika
python-dotenv
python-jose[cryptography]
python-multipart
aiogram
aiohttp
redis
celery
psycopg2-binary
openai